
.red-hat-display-<uniquifier> {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.left{
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: #007bff;
    font-family: "Red Hat Display"; 
    color:rgb(233, 236, 238);
    padding: 20px;
    
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.item {
   fill: white;
   display: inline-block;
   width: 35px;
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    flex: 1;
    font-family: "Red Hat Display";
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 20px;
  }

.project-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
  
.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: rgb(250, 205, 15);
}
  
.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.project-description {
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
}
  
.project-actions {
    display: flex;
    justify-content: flex-end;
}
.custom-button {
    background-color: #007bff;
    font-size: 18px;
    color: white;
    padding: 16px;
    border-radius: 32px;
    width: 120px;
}

.custom-button:hover {
    background-color: #061e36;
}
.top{
    display: flex;
    justify-content: space-between;
}

.pinguin{
    width: 15px;
}

.search {
    display: flex;
    height: 20px;
}

.friends{
    display: flex;
}
.sidebar{
    width: 30%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
  
nav li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}